<header class="header">
  <img src="assets/logo-droply.png" alt="Logo" class="logo">
  <nav>
    <ul class="nav-links">
      <!-- Botones para usuarios NO autenticados -->
      <li *ngIf="showAuthButtons">
        <a routerLink="/login">Iniciar sesión</a>
      </li>
      <li *ngIf="showAuthButtons">
        <a routerLink="/register">Registro</a>
      </li>

      <!-- Botones para usuarios autenticados (ocultos en login/register) -->
      <li *ngIf="!showAuthButtons">
        <button >Añadir punto de agua</button>
      </li>
      <li *ngIf="!showAuthButtons">
        <a routerLink="/perfil">Perfil</a>
      </li>
    </ul>
  </nav>
</header>
  