<header class="header">
    <img src="assets/logo-droply.png" alt="Logo de Droply" class="logo">
  
    <nav>
      <ul class="nav-links">
        <!-- Mostrar solo si NO estamos en la landing -->
        <li *ngIf="!isLanding">
          <button (click)="onAddWaterPoint()">Añadir punto de agua</button>
        </li>
        <li *ngIf="!isLanding">
          <a routerLink="/perfil">Perfil</a>
        </li>
  
        <!-- Mostrar solo en la landing -->
        <li *ngIf="isLanding">
          <a routerLink="/login">Iniciar sesión</a>
        </li>
        <li *ngIf="isLanding">
          <a routerLink="/registro">Registro</a>
        </li>
      </ul>
    </nav>
  </header>
  