<footer class="footer">
    <div class="footer-section">
        <ul>
            <li><a href="#">Política de cookies</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="footer-logo">
        <img src="" alt="Logo de Droply">
    </div>
    <div class="footer-social">
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">TikTok</a></li>
        </ul>
    </div>
</footer>